/* Estilos generales del cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la barra superior */
.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Información de contacto en la barra superior */
.contact-info {
    display: flex;
    align-items: center;
}

/* Enlaces en la sección de información de contacto */
.contact-info a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}

/* Estilos para el menú desplegable */
.dropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #666;
    border-radius: 0.25rem;
}

/* Estilos para los ítems del menú desplegable */
.dropdown-menu {
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 0.5rem;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #777;
}

/* Muestra el menú desplegable al pasar el cursor sobre el ítem de navegación */
.nav-links li:hover .dropdown {
    display: block;
}

/* Muestra los programas al hacer clic en el dropdown */
#programs-dropdown.show #undergrad-programs,
#programs-dropdown.show #postgrad-programs {
    display: block;
}



/* Estilos para la fuente Germania One */
.germania-one-regular {
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Estilos base para las tarjetas */
.program-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Contenedor general para las tarjetas */
.program-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

/* Estilos para las imágenes */
.program-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Ajuste de columnas para pantallas medianas */
@media (max-width: 768px) {
    .program-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Ajuste de columnas para pantallas pequeñas */
@media (max-width: 480px) {
    .program-grid {
        grid-template-columns: 1fr;
    }
}

/*definir cómo se verá el botón cuando esté seleccionado la universidad*/

.active-university {
    background-color: #00264d; /* Un color más oscuro */
    color: white;
    border: 2px solid #00264d;
    transition: background-color 0.4s ease, color 0.4s ease;
}


